<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h2">短網址產生器</span>
</nav>
<div class="container d-flex flex-column">
  <div class="row">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="rounded mx-auto d-block w-50 mt-5" alt="img">
  </div>
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="URL" class="form-label">URL</label>
      <input type="text" class="form-control" name="URL" id="URL" aria-describedby="URL" placeholder="請輸入要縮短的網址">
    </div>
    <button type="submit" class="btn btn-primary">送出</button>
  </form>
  {{#if shortURL}}
  <div class="alert alert-info" role="alert">
    <a href="{{shortURL}}" target="_blank">{{shortURL}}</a>
  </div>
  {{/if}}
  {{#if error}}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {{/if}}
</div>